<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Robots</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
  
      <h1>Here's all the Robots</h1>
    
      <p class="redtext"> Hello <%= user.username%></p>
    
    <ul>
      <% robots.forEach((robot) => { %>
      <li>
        The robot <span class="bluetext"> <%= robot.robotName %></span> owned by 
        <span class="bluetext"><%= robot.owner.username %> </span>.
        <a href="/robots/<%= robot._id %>">Show Details</a>
      </li>
      <% }) %>
    </ul>
<a class="redtext" href="/robots/winner">See the Top Robot</a>
    
  </body>
</html>