<!-- views/robots/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Robot <%= robot.robotName %> owned by <%= robot.owner.username%></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="winner-page">
      
    <h1>The robot <span class="bluetext"><%= robot.robotName %></span> owned by <span class="bluetext"><%= robot.owner.username %></span></h1>
   <div class="robot-card">
    <img src=<%= robot.robotImage %> alt="robor image" class="robot-image"/>
    <p><strong> Mobility: </strong><%= robot.mobility %></p>
    <p><strong> Discription: </strong><%= robot.discription %></p>
    
<!-- views/robots/show.ejs -->

<% if (robot.owner._id.equals(user._id)) { %>
<p>You own this!</p>
<div class="robot-actions"> 
<a href="/robots/<%= robot._id %>/edit">Edit this robot</a>

<form action="/robots/<%= robot._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete this robot</button>


</form>
</div>  
<%}%>
<!-- Favorite Section -->
<div class="favorites-section">
          <p>Favorited by <%= robot.favoritedByUser.length %> people.</p>

          <% if (userHasFavorited) { %>
          <p>You've favorited this robot!</p>

          <form
            action="/robots/<%= robot._id %>/favorited-by/<%= user._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Unfavorite it!</button>
          </form>

          <% } else { %>
          <p>You haven't favorited this robot.</p>

          <form
            action="/robots/<%= robot._id %>/favorited-by/<%= user._id %>"
            method="POST"
          >
            <button type="submit">Favorite it!</button>
          </form>

          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>