<!-- views/robots/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The Robot <%= robot.robotName %> owned by <%= robot.owner.username%></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>The robot <%= robot.robotName %> owned by <%= robot.owner.username %></h1>
    <h2>Details</h2>
    <p>Mobility: <%= robot.mobility %></p>
    <p>Discription: <%= robot.discription %></p>
    <p>Robot Image: </p>
    <img src=<%= robot.robotImage %> alt="robor image">
    
<!-- views/robots/show.ejs -->

<% if (robot.owner._id.equals(user._id)) { %>
<p>You own this!</p>
<a href="/robots/<%= robot._id %>/edit">Edit this robot</a>

<form action="/robots/<%= robot._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete this robot</button>


</form>
<%}%>
<!-- Favorite Section -->
<div >
          <p>Favorited by <%= robot.favoritedByUser.length %> people.</p>

          <% if (userHasFavorited) { %>
          <p>You've favorited this robot!</p>

          <form
            action="/robots/<%= robot._id %>/favorited-by/<%= user._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">Unfavorite it!</button>
          </form>

          <% } else { %>
          <p>You haven't favorited this robot.</p>

          <form
            action="/robots/<%= robot._id %>/favorited-by/<%= user._id %>"
            method="POST"
          >
            <button type="submit">Favorite it!</button>
          </form>

          <% } %>
        </div>
  </body>
</html>