<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h2>My Robots</h2>
<!-- views/robots/show.ejs -->
<!-- display all his own robots-->
 <div class="robots-container">
    
  <!-- remove the list and replace it by div to make a container -->
      <% robots.forEach((robot) => { %>
      <div class="robot-card">

        <img src=<%= robot.robotImage %> alt="robot image" class="robot-image"/>

        <h3 class="robotName"><%= robot.robotName %> </h3>
        <p><strong>Mobility:</strong> <%= robot.mobility%></p>        
        <p><strong>Discription:</strong> <%= robot.discription %></p>
       <div class="robot-actions">  
         <!--Edit and delet his robots-->      
        <a href="/robots/<%= robot._id %>/edit">Edit this robot</a>
        <form action="/robots/<%= robot._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete this robot</button>
         </form>
      </div>
  </div>
  <%})%>
</div>
  </body>
</html>